AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=appEpBPsuKXOFLxQD
AIRTABLE_TABLE_NAME=Action Queue
MAX_ACTIONS_PER_RUN=3
EXPECTED_REDDIT_USERNAME=
REDDIT_PUBLISH_ENABLED=false
LOGIN_WAIT_SECONDS=600
REDDIT_PROFILE_DIR=C:\locenix\reddit-profile
REDDIT_LOGIN_MODE=false
REDDIT_HEADLESS=true
